NEXT_PUBLIC_API_KEY=dev-math38-app
NEXTAUTH_URL=http://localhost:4027
NEXTAUTH_SECRET=dev-math38-app-client-secret

NEXT_PUBLIC_API_URL=https://api3.suzag.com
NEXT_PUBLIC_MATH_API_URL=https://math3.suzag.com
NEXT_PUBLIC_CONTENT_API_URL=https://cms3.suzag.com
NEXT_PUBLIC_VECTOR_API_URL=https://vector3.suzag.com

NEXT_PUBLIC_OIDC_ISSUER=https://auth.suzag.com
NEXT_PUBLIC_OIDC_CLIENT_ID=dev-math38-app
NEXT_PUBLIC_OIDC_LOGOUT_CALLBACK=http://localhost:4027/logout/callback
OIDC_CLIENT_ID=dev-math38-app
OIDC_CLIENT_SECRET=xxxx
