@page {
  size: A4;
  margin: 0;
  padding: 0;
}

@media print {
  html,
  body {
    height: 100%;
    -webkit-print-color-adjust: exact;
  }

  body * {
    visibility: hidden;
  }

  body #__next {
    display: none;
  }

  body
    .ant-drawer
    .ant-drawer-content-wrapper
    .ant-drawer-content.printable-page
    .ant-drawer-head {
    display: none;
  }

  body
    .ant-drawer
    .ant-drawer-content-wrapper
    .ant-drawer-content.printable-page
    .ant-drawer-body {
    margin: 0;
    padding: 0 !important;
    width: 100%;
  }

  body
    .ant-drawer
    .ant-drawer-content-wrapper
    .ant-drawer-content.printable-page
    .ant-drawer-body
    .no-print-area {
    display: none;
  }

  html,
  body,
  .ant-drawer,
  .ant-drawer-content-wrapper,
  .ant-drawer-content.printable-page,
  .ant-drawer-body .sp-paper-print-area {
    width: 100%;
    height: auto !important; /* !important를 사용하여 기존 스타일을 오버라이드 합니다. */
    overflow: visible !important;
    position: static !important;
    background-color: white;
  }

  .no-print-area,

  ::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
  }

  /* Firefox용 */
  * {
    scrollbar-width: none !important;
  }

  /* IE와 Edge용 */
  * {
    -ms-overflow-style: none !important;
  }

  /* 특정 요소(예: #printableArea)에 대해 스크롤 허용하되 스크롤바 숨기기 */
  #printableArea {
    overflow: visible !important;
  }

  #printableArea,
  .paper-printer {
    top: 0;
    margin: 0mm 0mm;
    position: relative !important;
    width: 210mm;
    height: auto;
    overflow: visible !important;
    /*display: relative !important;*/
    contain: strict;
    display: table;
  }

  .answer-area {
    display: none;
  }

  .page {
    padding: 10.5mm 8mm 4mm 8mm;

    margin: 0 !important;
    width: 21cm !important;
    min-height: 29.7cm !important;
    max-height: 29.7cm !important;
    /*border: initial;*/
    /*border-radius: initial;*/
    /*width: initial;*/

    border: none;
    border-width: 0;
    border-radius: initial;
    box-shadow: initial;
    background: initial;
    /* page-break-after: auto; */
    page-break-inside: avoid !important;
    page-break-before: unset !important;
    overflow: hidden;

    .p-answer-num {
      color: #000;
    }
  }
  /*
  .page {
    margin: 0;
    width: 21cm !important;
    min-height: 29.7cm !important;
    max-height: 29.7cm !important;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    position: relative;
    overflow: hidden;

  }
*/
  .ant-drawer.printable-page .ant-drawer-header,
  .ant-drawer.printable-page .ant-drawer-footer,
  .ant-modal-wrap .ant-modal.printable-page .ant-modal-header,
  .ant-modal-wrap .ant-modal.printable-page .ant-modal-footer,
  .ant-modal-root
    .ant-modal-wrap
    .ant-modal.printable-page
    .ant-modal-content
    .ant-modal-close
    .temp-target {
    display: none;
  }

  .ant-drawer.printable-page,
  .ant-modal-root {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: auto;
    overflow: visible;
  }

  .ant-drawer.printable-page .ant-drawer-content-wrapper,
  .ant-drawer.printable-page .ant-drawer-content,
  .ant-drawer.printable-page .ant-drawer-wrapper-body,
  .ant-drawer.printable-page .ant-drawer-body,
  .ant-drawer.printable-page .paper-printer,
  .ant-modal-root .ant-modal-wrap,
  .ant-modal-root .ant-modal-wrap .ant-modal.printable-page,
  .ant-modal-root .ant-modal-wrap .ant-modal.printable-page .ant-modal-content,
  .ant-modal-root .ant-modal-wrap .ant-modal.printable-page .ant-modal-body,
  .ant-modal-root .ant-modal-wrap .ant-modal.printable-page .paper-printer {
    display: block; /* Not really needed in all cases */
    position: relative;
    width: 100% 0px !important;
    height: auto !important;
    overflow: visible !important;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    margin-top: 0px !important;
  }
  .ant-modal-root .ant-modal-wrap .ant-modal.printable-page .ant-modal-body {
    background-color: #fff !important;
  }

  .printable-page * {
    visibility: visible;
  }

  .ant-modal-root .ant-modal-centered::before {
    display: none;
  }

  .aaa {
  }

  .ant-modal-root .ant-modal-wrap .ant-modal.printable-page {
    transform-origin: unset !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  .printable-page .page:first-child {
    margin-top: 0px;
  }

  .printable-page .ant-drawer-header {
    display: none;
  }

  /* #print-content {
    position: relative;
    top: 0;
    left: 0;
    width: 210mm;
    height: unset;
    margin: 0px;
    padding: 0px;
  } */
}


