// 마진 패딩 gap px
@for $size from 0 through 100 {
  .m {
    &-px-#{$size} {
      margin: #{$size}px;
    }
    &t-px-#{$size} {
      margin-top: #{$size}px;
    }
    &b-px-#{$size} {
      margin-bottom: #{$size}px;
    }
    &r-px-#{$size} {
      margin-right: #{$size}px;
    }
    &l-px-#{$size} {
      margin-left: #{$size}px;
    }
    &tb-px-#{$size} {
      margin-top: #{$size}px;
      margin-bottom: #{$size}px;
    }
    &lr-px-#{size} {
      margin-left: #{$size}px;
      margin-right: #{$size}px;
    }
  }
  .p {
    &-px-#{$size} {
      padding: #{$size}px;
    }
    &t-px-#{$size} {
      padding-top: #{$size}px;
    }
    &b-px-#{$size} {
      padding-bottom: #{$size}px;
    }
    &r-px-#{$size} {
      padding-right: #{$size}px;
    }
    &l-px-#{$size} {
      padding-left: #{$size}px;
    }
    &tb-px-#{$size} {
      padding-top: #{$size}px;
      padding-bottom: #{$size}px;
    }
    &lr-px-#{size} {
      padding-left: #{$size}px;
      padding-right: #{$size}px;
    }
  }
  .gap-px-#{$size} {
    gap: #{$size}px;
  }
  .w-px-#{$size} {
    width: #{$size}px;
  }
  .min-w-#{$size}per {
    min-width: #{$size}+ "%";
  }
  .max-w-#{$size}per {
    max-width: #{$size}+ "%";
  }
  .w-#{$size}per {
    width: #{$size}+ "%";
  }
}

$start: 50;
$end: 1000;
$increment: 1;
$size: $start;

@while $size <= $end {
  .w {
    &-calc-#{$size} {
      width: calc(100% - #{$size}px);
    }
  }
  .vh {
    &-calc-#{$size} {
      height: calc(100vh - #{$size}px);
    }
  }
  $size: $size + $increment;
}
